@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url('../img/fundo2.jpg');
    background-size: cover;
    font-family: "Radio Canada Big", sans-serif;
    /* background: linear-gradient(to left, #001f3f, #0074d9, #7fdbff); */
    width: 100vw;
    height: 100vh;
}


header{
    display: flex;
    justify-content: center;
    text-align: center;
} 

h1{
    font-size: 50px;
    text-align: center;
    color: #fff;
} 

main{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
    right: 50%;
}

p{
    font-size: 17px; 
    color: #fff;
}

.content{
    display: flex;
    justify-content: center;
    /* position: relative; */
}

input, select, button {
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    /* border: 2px solid #00796b; */
    border: 1px solid #fff;
    border-radius: 5px;
}

label{
    color: #fff;
}

button {
    /* background: #00796b; */
    background: transparent;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #004d40;
}

#chart-container-g {
    margin-top: 20px;
    /* border: 1px solid #00796b; */
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    /* justify-content: center; */
    margin-right: auto;
    margin-left: 1%;
    /* background: #0270b0;
    background-color: rgba(2, 112, 176, 0.4);  */
    width: 50%;
    height: 80%;
    padding: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

.form-container h2{
    display: flex;
    justify-content: center;
    margin-left: 0 auto;
}

#chart-container {
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
}

#photo{
    color: #fff;
}

#beach-form h2{
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-left: 25%; */
    color: #fff;
    /* display: flex; */
    /* justify-content: center; */
}

.bot{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: auto;
    width: 42%;
    height: 80%;
    border: 1px solid #fff;
    /* background-color: rgba(2, 112, 176, 0.4); */
    margin-top: -50%;
    margin-right: 1%;
}

.bot{
    color: #fff;
    text-align: center;
}

.form-container-g {
    background: #000;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.integrantes{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 10%;
    width: 90%;
    height: 50%;
    margin-top: 50%;
}

.integrantes h2{
    color: #fff;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.btn-voltar{
    color: #fff;
    border-radius: 55px;
    padding: 2px 26px;
    text-decoration: none;
    border: 1px solid #d9d9d9;
}

.btn-voltar:hover{
    background-color: #4b95c334;
    color:  #fff;
 }


 #ranking{
    /* display: flex; */
    justify-content: center;
    text-align: center;
    /* margin: auto; */
    margin-left: 1%;
    width: 55%;
    height: 40%;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #FF00FF;
    margin-top: 2%;
 }

 .first-place {
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o texto em negrito */
    color: #f44336; /* Cor vermelha para destaque */
}

#beach-ranking li {
    display: flex;
    margin-top: auto;
    margin-bottom: 5px; /* Espaçamento entre os itens do ranking */
}

#top-beach-message {
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o texto em negrito */
    color: #00FF00 /* Cor verde para destaque */
    /* margin-top: 10px; Espaçamento acima do parágrafo */
}
