@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url('../img/fundo2.jpg');
    background-size: cover;
    font-family: "Radio Canada Big", sans-serif;
    /* background: linear-gradient(to left, #001f3f, #0074d9, #7fdbff); */
    width: 100vw;
    height: 100vh;
}


header{
    display: flex;
    justify-content: center;
    text-align: center;
} 

h1{
    font-size: 50px;
    text-align: center;
    color: #fff;
} 

main{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
    right: 50%;
}

main p{
    font-size: 18px; 
    color: #fff;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    /* justify-content: center; */
}

input, select, button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    /* border: 2px solid #00796b; */
    border: 1px solid #fff;
    border-radius: 5px;
}

label{
    color: #fff;
}

button {
    /* background: #00796b; */
    background: transparent;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #004d40;
}

.form-container {
    background-color:rgba(2, 112, 176, 0.5);
    /* display: flex; */
    justify-content: center;
    /* margin-right: auto; */
    margin-left: 1%;
    /* background: #0270b0;
    background-color: rgba(2, 112, 176, 0.4);  */
    width: 42%;
    height: 67%;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

.form-container h2{
    display: flex;
    justify-content: center;
    margin-left: -22%;
}

#chart-container {
    text-align: center;
    display: flex;
    /* justify-content: center; */
    /* margin: auto; */
    justify-content: center;
    width: 60%;
    height: 39%;
    border-radius: 20px;
    background-color: #fff;
}

#photo{
    color: #fff;
}

#beach-form h2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -6%;
    color: #fff;
    /* display: flex; */
    /* justify-content: center; */
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.btn-voltar{
    background-color: #00FF00;
    color: #fff;
    border-radius: 55px;
    padding: 2px 26px;
    text-decoration: none;
    /* border: 1px solid #d9d9d9; */
}

.btn-voltar:hover{
    background-color: #4b95c334;
    color:  #fff;
 }


 #ranking{
    background-color: rgba(2, 112, 176, 0.5);
    text-align: center;
    color: #fff;
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    margin: auto;
    margin-left: 1%;
    width: 51%;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 20px;
    /* margin-top: -3%; */
 }

 #ranking h2{
    color: #FF00FF;
 }

#beach-ranking li {
    display: flex;
    margin-top: auto;
    margin-bottom: 5px; /* Espaçamento entre os itens do ranking */
}

#top-beach-message {
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o texto em negrito */
    color: #00FF00 /* Cor verde para destaque */
    /* margin-top: 10px; Espaçamento acima do parágrafo */
}

.integrantes{
    background-color: rgba(2, 112, 176, 0.5);
    display: flex;
    margin: auto;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 95%;
    height: 40%;
    margin-top: 4%;
    /* height: 60%; */
    /* align-items: center; */
    /* padding: 10px; */
}

.integrantes p {
    color: #fff;
    text-align: center;
}

.titulo{
    text-align: center;
    margin-top: 4%;
    color: #fff;
}

.gustavo img{
    display: flex;
    margin: auto;
    width: 50%;
    height: 40%;
    border-radius: 100%;
}

.gustavo {
    align-items: center;
    width: 20%;
    height: 100%;
    /* text-align: center; */
    /* padding-right: 15%; */
    /* margin: auto; */
    /* margin-top: auto; */
    margin-right:    auto;
    /* margin-top: 1%; */
    /* border: 1px solid #fff; */
    /* border-radius: 20px; */
}

h3{
    color: #fff;
    text-align: center;
}

.bruno img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    
}

.bruno{
    width: 20%;
    height: 100%;
    text-align: center;
    /* padding-right: 15%; */
    margin: auto;
    /* margin-left: auto; */
    /* margin-top: -19%; */
    /* border: 1px solid #fff; */
    /* border-radius: 20px; */
    
}

.jhonatta{
    width: 20%;
    height: 100%;
    text-align: center;
    /* margin: 81%; */
    margin-left: auto;
    /* margin-top: -19%; */
    /* border: 1px solid #fff; */
    /* border-radius: 20px; */
}

.jhonatta img{
    width: 60%;
    height: 40%;
    border-radius: 100%;
}

.git a {
    background-color: #00FF00;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 10% auto;
    text-decoration: none;
    color: #000;
}

