@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url('../img/fundo2.jpg');
    background-size: cover;
    font-family: "Radio Canada Big", sans-serif;
    width: 100vw;
    height: 100vh;
}


header{
    display: flex;
    justify-content: center;
    text-align: center;
} 

h1{
    font-size: 50px;
    text-align: center;
    color: #fff;
} 

main{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
    right: 50%;
}

main p{
    font-size: 18px; 
    color: #fff;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

input, select, button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    border: 1px solid #fff;
    border-radius: 5px;
}

label{
    color: #fff;
}

button {
    background: transparent;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #004d40;
}

.form-container {
    background-color:rgba(2, 112, 176, 0.5);
    justify-content: center;
    margin-left: 1%;
    width: 42%;
    height: 67%;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

.form-container h2{
    display: flex;
    justify-content: center;
    margin-left: -22%;
}

#chart-container {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 39%;
    border-radius: 20px;
    background-color: #fff;
}

#photo{
    color: #fff;
}

#beach-form h2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -6%;
    color: #fff;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.btn-voltar{
    background-color: #00FF00;
    color: #fff;
    border-radius: 55px;
    padding: 2px 26px;
    text-decoration: none;
}

.btn-voltar:hover{
    background-color: #4b95c334;
    color:  #fff;
 }


 #ranking{
    background-color: rgba(2, 112, 176, 0.5);
    text-align: center;
    color: #fff;
    margin: auto;
    margin-left: 1%;
    width: 51%;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 20px;
 }

 #ranking h2{
    color: #FF00FF;
 }

#beach-ranking li {
    display: flex;
    margin-top: auto;
    margin-bottom: 5px;
}

#top-beach-message {
    font-size: 1.2em; 
    font-weight: bold;
    color: #00FF00 
}

.integrantes{
    /* background-color: rgba(2, 112, 176, 0.5); */
    display: flex;
    margin: auto;
    justify-content: center;
    /* border: 1px solid #fff; */
    border-radius: 20px;
    width: 95%;
    height: 40%;
    margin-top: 4%;
}

.integrantes p {
    color: #fff;
    text-align: center;
}

.titulo{
    text-align: center;
    margin-top: 4%;
    color: #fff;
}

.gustavo img{
    display: flex;
    margin: auto;
    width: 50%;
    height: 40%;
    border-radius: 100%;
}

.gustavo {
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: auto;
    /* border: 1px solid #fff; */
}
.gustavo a {
    /* display: flex; */
    text-decoration: none;
    margin-left: 37.5%;
}

a{
    text-decoration: none;
}

.instagram{
    justify-content: center;
    color: #fff;
    background-color: #FF00FF;
    border-radius: 20%;
    width: 20%;
    height: 20%;
}
.linkedin{
    justify-content: center;
    color: #fff;
    background-color: #6495ED;
    border-radius: 20%;
    width: 20%;
    height: 20%;
}

h3{
    color: #fff;
    text-align: center;
}

.bruno img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    
}

.bruno{
    width: 20%;
    height: 100%;
    text-align: center;
    margin: auto;
    /* border: 1px solid #fff;     */
}

.jhonatta{
    width: 20%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: 0%;
    /* border: 1px solid #fff; */
}

.jhonatta img{
    width: 40%;
    height: 40%;
    border-radius: 100%;
}

#toggle-btn{
    margin: auto;
    background-color: #00FF00;
    color: #fff;
    border-radius: 55px;
    padding: 2px 26px;
    text-decoration: none;
}

#toggle-btn:hover{
    background-color: #4b95c334;
    color:  #fff;
 }


@media screen and (max-width: 768px) {
    /* Estilos específicos para telas menores, como tablets */
    main {
        flex-direction: column; /* Colocando os elementos em coluna */
        align-items: center; /* Centralizando na horizontal */
    }

    .form-container {
        width: 80%; /* Ajustando a largura do formulário para telas menores */
        margin-left: 0; /* Removendo a margem lateral */
    }
}

@media screen and (max-width: 480px) {
    /* Estilos específicos para telas menores, como smartphones */
    h1 {
        font-size: 40px; /* Reduzindo o tamanho do título */
    }

    main p {
        font-size: 16px; /* Reduzindo o tamanho do texto */
    }

    input, select, button {
        width: 90%; /* Ajustando a largura dos inputs */
    }

    .form-container {
        width: 90%; /* Ajustando a largura do formulário */
    }
}

