@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url('../img/fundo2.jpg');
    background-size: cover;
    font-family: "Radio Canada Big", sans-serif;
    width: 100vw;
    height: 100vh;
}

header{
    position: relative;
    z-index: 1;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.content-l p{
    font-size: 25px; 
    color: #fff;
}


.content-l{
    display: flex;
    justify-content: center;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    border-radius: 55px;
    padding: 2px 26px;
}

.btn-voltar{
    background-color: #00FF00;
    color: #fff;
    border-radius: 55px;
    padding: 2px 26px;
    text-decoration: none;
    border: 1px solid #d9d9d9;
}

.btn-voltar:hover{
    background-color: #4b95c334;
    color:  #fff;
 }

 input{
    border-radius: 55px;
    border: 1px solid #d9d9d9;
    padding: 3px 3px 3px 3px;
    width: 400px;
}


#btn-confirmar{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: transparent;
    color:  #fff;
    border-radius: 55px;
    padding: 2px 26px;
    text-decoration: none;
    border: 1px solid #d9d9d9;
    cursor: pointer;

}

#btn-confirmar:hover{
    background-color: #00FF00;
    color:  #fff;
}

/* Responsividade */
@media (max-width: 1200px) {
    h1 {
        font-size: 40px;
    }

    .content-c p {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 35px;
    }

    .content-c p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .content-c p {
        font-size: 16px;
    }

    .btn-voltar, #btn-confirmar {
        padding: 8px 16px;
    }

    input {
        width: 80%;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 25px;
    }

    .content-c p {
        font-size: 14px;
    }

    .btn-voltar, #btn-confirmar {
        padding: 6px 12px;
    }

    input {
        width: 100%;
    }
}